<!-- Creates a large card in materialize -->
<div class="card medium spotify">
    <span class="card-title">
      {{#if psPlaylistId}}
      <h5>PLAYLIST ADDED</h5>
      {{else}}
      <h5>PLAYLIST</h5>
      {{/if}}
      {{name}}
    </span>
  <div class="card-image">
    <img src="{{image}}" />
  </div>
    {{#if psPlaylistId}}
      <div data-id="{{id}}" data-playspaceid="{{psPlaylistId}}" data-name="{{name}}" data-img_url="{{image}}" class="spotifyListRemove button">
          <a class="btn-floating red"><i class="material-icons">remove</i></a>
      </div>
    {{else}}
      <div data-id="{{id}}" data-name="{{name}}" data-img_url="{{image}}" class="spotifyListAdd button">
          <a class="btn-floating"><i class="material-icons">add</i></a>
      </div>
    {{/if}}
  <div class="card-content">
    <p>
      {{description}}
      <span class="track-count">TRACKS: {{tracks}}</span>
    </p>
  </div>
</div>