{{!-- welcome message after sign in --}}
<div class='card-header col-md-10'>
    <h3>
        Welcome <span class="user_name">{{user_name}}</span> to PlaySpace
    </h3>
    
</div>

{{!-- displays spotify playlists --}}
<div class="spotify-playlist-wrapper">
    {{#each playlists as |playlist|}}
    <div class="spotify card medium">
        <span class="card-title">
            <h5>PLAYLIST</h5>
            <a class="detail-link" href="/playlist/{{playlist.id}}">{{name}}</a>
            <h5>Created by: {{playlist.user.name}}</h5>
        </span>
        <div class="right">
            <a href="#"><i class="material-icons icon-blue">star_border</i></a>
        </div>
        <div style="background-image: url({{img_url}})" class="card-image">
        </div>
        <div class="card-action .left-align">
            <div>
                <a href="#" data-id='{{playlist.id}}' data-update='{{upvotes}}' class="upvote"><i class="material-icons">thumb_up</i> {{upvotes}}</a>
                <a href="#"><i class="material-icons">comment</i> {{user_comments}}</a>
            </div>
            <!-- Modal Trigger -->
            <a class="waves-effect waves-light modal-trigger" href="#modal1">Comment</a>
            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                <h4>{{name}}</h4>
                    <h5 >Upvotes: {{upvotes}}</h5>
                    <h5>Comments: {{user_comments}}</h5>
                    {{#each comments as |comment|}}
                     {{>comment-details}}
                {{/each}}
                </div>
                <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
                    </div>
                </div>
    {{/each}}
</div>

{{!-- initializes modal --}}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var modal = document.querySelectorAll('.modal');
    var instances = M.Modal.init(modal);
  });
</script>

<script src='./js/upvotes.js'></script>


