<div class='card-header col-md-10'>
    <h3>
        Welcome to PlaySpace
    </h3>
</div>
<div class="spotify-playlist-wrapper">
    {{#each playlists as |playlist|}}
    <div class="spotify card medium">
        <span class="card-title">
            <h5>PLAYLIST </h5>
            {{name}}</h3>
            <h5>Created by: {{playlist.user.name}}</h5>
        </span>
        <div class="right">
            {{#if favorited}}
            <a href="#"><i class="material-icons">star</i></a>
            {{else}}
            <a href="#"><i class="material-icons">star_border</i></a>
            {{/if}}
        </div>
        <div class="card-image">
            <image src="{{img_url}}" />
        </div>
        <div class="card-action .left-align">
            <a href="#"><i class="material-icons">thumb_up</i> {{upvotes}}</a>
            <a href="#modal{{playlist.id}}" class="modal-trigger"><i class="material-icons">comment</i> {{user_comments}}</a>
            <!-- Modal Structure -->
            <div id="modal{{playlist.id}}" class="modal">
                <div class="modal-content">
                <h4>{{name}}</h4>
                <h5>Upvotes: {{upvotes}}</h5>
                <h5>Comments: {{user_comments}}</h5>
                <p>
                {{#each comments}}
                     {{>comment-details}}
                {{/each}}
                <button class="waves-effect waves-light btn modal-trigger comment-modal-trigger btn-floating btn-large waves-effect waves-light teal right comment-button" data-target="modalX{{comment.id}}"><i class="material-icons">comment</i></button>
                </p>
                </div>
                <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
            {{#each this}}
            <!-- Modal Structure -->
             <div id="modalX{{comment.id}}" class="modal">
                            <div class="modal-content">
                                <h4>Add a comment</h4>
                                <p class="post-id">{{this.id}}</p>
                                    <div class="row">
                                        <form class="col s12">
                                            <div class="row modal-form-row">
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <textarea
                                                            id="image_description"
                                                            type="text"
                                                            class="materialize-textarea validate comment-content"
                                                        ></textarea>
                                                        <label for="image_description">What do you think?</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <a class="modal-action modal-close waves-effect waves-green btn-flat comment-submit">Submit</a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
    {{/each}}
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var modal = document.querySelectorAll('.modal');
    var instances = M.Modal.init(modal);
  });
</script>
<script src="/js/comments.js"></script>
