{{!-- <div class="row">
<div class="col">
<h4>{{name}}</h4>
<h4>{{email}}</h4>
</div>
<div class="col">
    <h1>My Playlists</h1>
</div>
<div class="carousel" style="">
{{#each playlists as |playlist|}}
<div class="carousel-item">
    <div style="width:auto"class="spotify card small">
        <span class="card-title">
            <h5>PLAYLIST</h5>
            {{name}}</h3>
            <h5>Created by: {{user_id}}</h5>
        </span>
        <div class="right">
            {{#if favorited}}
            <a href="#"><i class="material-icons">star</i></a>
            {{else}}
            <a href="#"><i class="material-icons">star_border</i></a>
            {{/if}}
        </div>
        <div class="card-image">
            <image src="{{img_url}}" />
        </div>
        <div class="card-action .left-align">
            <a href="#"><i class="material-icons">thumb_up</i> {{upvotes}}</a>
            <a href="#"><i class="material-icons">comment</i> {{user_comments}}</a>
            <!-- Modal Trigger -->
            <!-- <button
            class="waves-effect waves-light btn comment-modal-trigger"
            data-target="modal1"
            >Comment</button> -->
        <button class="waves-effect waves-light btn comment-modal-trigger btn-floating btn-large waves-effect waves-light teal right comment-button" data-target="modal1"><i class="material-icons">comment</i></a>
            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h4>Add a comment</h4>
                        <div class="row">
                            <form class="col s12">
                                <div class="row modal-form-row">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea
                                            id="image_description"
                                            type="text"
                                            class="materialize-textarea validate"
                                        ></textarea>
                                        <label for="image_description">What do you think?</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                </div>
                <div class="modal-footer">
                    <a class="modal-action modal-close waves-effect waves-green btn-flat comment-submit">Submit</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{{/each}}
</div> --}}

<div class="row">
    <div class="col">
<h4>{{name}}</h4>
<h4>{{email}}</h4>
    </div>
    <div class="col">
    <h1>Profile</h1>
    </div>

    <div class="carousel" style="">
        
        {{#each playlists as |playlist|}}
            <div class="carousel-item">
                <div style="width:auto"class="spotify card small">
                    <span class="card-title">
                        <h5>PLAYLIST</h5>
                        {{name}}</h3>
                        <h5>Created by: {{user_id}}</h5>
                    </span>
                    <div class="right">
                        {{#if favorited}}
                            <a href="#"><i class="material-icons">star</i></a>
                        {{else}}
                            <a href="#"><i class="material-icons">star_border</i></a>
                        {{/if}}
                    </div>
                    <div class="card-image">
                        <image src="{{img_url}}" />
                    </div>
                    <div class="card-action .left-align">
                        <a href="#"><i class="material-icons">thumb_up</i> {{upvotes}}</a>
                        <a href="#"><i class="material-icons">comment</i> {{user_comments}}</a>
                        
                        <!-- Modal Trigger -->
                        <button class="waves-effect waves-light btn modal-trigger comment-modal-trigger btn-floating btn-large waves-effect waves-light teal right comment-button" data-target="modal1"><i class="material-icons">comment</i></button>
                        
                        
                    </div>
                </div>
            </div>
    {{/each}}
    </div>
</div>
<!-- Modal Structure -->
                        <div id="modal1" class="modal">
                            <div class="modal-content">
                                <h4>Add a comment</h4>
                                    <div class="row">
                                        <form class="col s12">
                                            <div class="row modal-form-row">
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <textarea
                                                            id="image_description"
                                                            type="text"
                                                            class="materialize-textarea validate"
                                                        ></textarea>
                                                        <label for="image_description">What do you think?</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <a class="modal-action modal-close waves-effect waves-green btn-flat comment-submit">Submit</a>
                            </div>
                        </div>

{{!-- <div class="carousel">
    {{#each playlist}}
    <a class="carousel-item" href="#one!"><img src={{user.playlist.img_url}}></a>
    {{/each}}
</div> --}}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var modal = document.querySelectorAll('.modal');
    var instances = M.Modal.init(modal);
  });
    document.addEventListener('DOMContentLoaded', function() {
        var carousel = document.querySelectorAll('.carousel');
        var instances = M.Carousel.init(carousel);
      });
       
</script>
<script src='/js/comments.js'></script>